@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/* font-family: "Poppins", serif; */


:root {
    --text: #170608;
    --background: #fbf0f1;
    --primary: #c93a45;
    --secondary: #e1c792;
    --accent: #d4ce60;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

.gallery{
    padding: 0px 20px;
    z-index: 0;
    columns: 300px;
}

.gallery img{
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1;
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 50px 0px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: openView 4s ease-in-out 1s;
}
@keyframes openView {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    
}

h1 {
    font-family: "Caveat Brush", cursive;
    font-size: clamp(1em, 5vw, 3em);
    color: #e91e63;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(100%, 2vw, 1.5em);
    margin: 20px 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 22px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
    width: 80px;
    height: 50px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  .filled,
  .empty {
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover .empty {
    opacity: 0;
  }
  
  button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    color: #333;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}